* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

/* Header*/

header .container-cabecalho {
    display: flex;
    justify-content: space-between;
    border-top: 10px solid #f46725;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 0px rgba(43, 42, 42, 0.2);
}

header .logo {
    width: 8%;
    height: 8%;
    margin-bottom: 12px;
    margin-left: 100px;
    margin-top: 15px;
}

header, nav {
    background: rgb(230,115,27);
    background: linear-gradient(90deg, rgba(230,115,27,1) 0%, rgba(242,147,21,1) 46%, rgba(248,160,18,1) 70%, rgba(255,164,15,1) 100%);
}

/* Navbar */

.nav-link{
    font-weight: bold;
    font-size: 13px;
}

/* Section 1 Home*/

.imagem2{
    padding: 250px 0;
    background-image:url(https://a.cdn-hotels.com/gdcs/production13/d1716/4d8cd010-4240-40cd-a335-50fc453b15bb.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center; 
}

section .titulo-main{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-family: sans-serif;
    font-size: 4rem;
    color: #e7e1e1;
}

main .container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.section-title p {
    text-align: center;
    text-transform: none;
    font-size: 20px;
    font-style: italic;
    font-family: 'Noto Sans',Arial,sans-serif;
}

/*Section 2 Home*/

h3{
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    color: #484848;
}

section h3{
    margin-top: 30px;
    margin-bottom: 5px;
}

.carousel-inner{
    padding-top: 30px;
    padding-bottom: 50px;
}

.carousel-item > p{
    color: black;
}

.carousel-indicators{
    display: inline-flex;
    background-color: rgb(0, 0, 0);
}
.carousel-control-prev-icon:hover{
    background-color: rgb(0, 0, 0);
    color: black;
}
.carousel-control-next-icon:hover{
    background-color: rgb(0, 0, 0);
    color: black;
}

.carousel-inner,.carousel-item p{
    font-weight: bold;
    font-size: 16px;
    -webkit-text-stroke: 0.5px black;
    color: rgb(255, 255, 255);
}

/* Footer*/

.layout-rodape {
    padding: 30px 0;
    background-color: #484848;
    color: #fff;
}

.container-rodape {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

footer .row {
    display: flex;
    justify-content: space-around;
}

.bi-facebook {
    width: 30px;
    height: 30px;
}

.bi-facebook:hover {
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px rgb(0, 0, 0);
}

.bi-instagram {
    width: 30px;
    height: 30px;
}

.bi-instagram:hover {
    border-radius: 28%;
    box-shadow: 0px 0px 1px 1px rgb(24, 24, 24);
}

.bi-spotify {
    width: 30px;
    height: 30px;
}

.bi-spotify:hover {
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
}

.redes-sociais {
    justify-content: center;
}

/*Página quem-somos*/

main .imagem {
    padding: 250px 0;
    background-image: url(https://www.tudobahia.com.br/wp-content/uploads/2020/10/praias-na-bahia-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main .container .frase {
    text-align: center;
    font-size: 3rem;
    font-family: Impact;
    color: #ffffff;
}

.principal {
    padding: 20px;
    margin: 30px;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    background-color: #eeeeee;
    box-shadow: 10px 10px #f46725;
}

.principal__titulo {
    text-align: center;
    font-size: 2.5rem;
    color: #84dc61;
}

.principal__texto {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color: #585858;
}

/* Página fale-conosco*/

.layout-contratacao {
    padding:  50px;
    padding-right: 150px;
    padding-left: 150px;
    background-color: #e7e7e7;
}

.titulo-formulario {
    padding-top: 100px;
    margin: 0;
    margin-bottom: 1px solid #ccc;
    font-size: 2em;
    color: #f46725;
}

h2{
    display: block;
    margin-top: 30px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 7rem; 
    color: #484848;
}




